<h1> Welcome to <%= @crm_app_name %></h1>
<p> Main menu </p>
<ul>
	<li><a href="/contacts/new">Add a Contact</a></li>
	<li><a href="/contacts">View all contacts</a></li>
	<li><a href="/contacts/:id/edit">Edit a contact</a></li>
	<li><a href="/contacts">Display an attribute</a></li>
	<li><a href="/contacts/:id">Display a contact</a></li>
	<li><a href="/contacts">Remove a contact</a></li>
</ul>

