<!-- <h1> Welcome to <%= @crm_app_name %></h1>
<p> This is the home page for the crm, file: index.erb</p>

<img class= "funnyimg" src="http://joedale.typepad.com/photos/uncategorized/customer_service_rep_talking_with_hands_.gif">
 -->

		<img class= "funnyimg" src="http://joedale.typepad.com/photos/uncategorized/customer_service_rep_talking_with_hands_.gif">

		<p>Welcome to my CRM! Disclaimer: This is not intended to look professional! I just miss the 90s...</p>
