<h1> Welcome to Joseph's CRM! </h1>
<p> Main menu </p>
<ul>
	<li><a href="/add">Add a Contact</a></li>
	<li><a href="/contacts">View all contacts</a></li>
	<li><a href="/edit">Edit a contact</a></li>
	<li><a href="/attribute">Display an attribute</a></li>
	<li><a href="/remove">Remove a contact</a></li>
</ul>

