<!DOCTYPE html>
<html>
	<head>
		<title>Jophis' Page</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	
	<body>
	<div class = big>	
		<h1>Jophis' Page</h1>

		<%= yield %>

	
		<ul>
			<li></li>
		</ul>

	</body>
</html>