<!DOCTYPE html>  
<html>
	<head>
		<title>Jophis' Page</title>
		<link rel="stylesheet" type="text/css" href="/style.css">
	</head>

	<body>
		<header class = "header">
			<h1 id = "headertext"> <br>Customer Service is our #1 priority, honestly... </h1>
		</header>
	
	<nav class = "navigation">
			<div class="sidebar-nav"> 
				<a href="/"><br>Return to Home</a>
			</div>
			<div class="sidebar-nav">
				<a href="/contacts/new"><br>Add a Contact</a>
			</div>
			<div class="sidebar-nav">
				<a href="/contacts/:id/edit"><br>Edit a Contact</a>
			</div>
			<div class="sidebar-nav">
				<a href="/contacts"> <br>View all Contacts</a>
			</div>
			<div class="sidebar-nav">
				<a href="/contacts/remove"><br>Remove a Contact</a>
			</div>
	</nav>
	
	<div class = "big">	
		<h1>Jophis' Web CRM</h1>
		<%= yield %>
	</div>

	<footer class = "footer">
		Copyright Jophis Enterprises. 2014. Bitmaker Cohort 6 represent.
	</footer>

	</body>
</html>