<h1>Create new Contact</h1>
<form action='/contacts' method="post">
	<input type="text" name="first_name" value="First Name">
	<input type="text" name="last_name" value="Last Name">
	<input type="text" name="email" value="Email Address">
	<input type="text" name="notes" value="Notes">
	<input type="submit" name="Press Here to Submit">
</form>