<h1>Search for a Contact</h1>
	<form action='/contacts/search' method="GET">
	<fieldset>
		<legend>legend</legend>


	<label for="search">Search here:</label>
	<input type="search" name="last_name" id="search"  autofocus required placeholder="Contact's Last Name">
	<input type= "submit">
</fieldset>

this is where the search results go, if there are any.

<ul>
	<li>name one</li>
	<li>name one</li>
	<li>name one</li>
	<li>name one</li>
</ul>