<h1>Search for a Contact</h1>
	<form action='/contacts/search' method="GET">
	<fieldset>
		<legend>legend</legend>


	<label for="search">Search here:</label>
	<input type="search" name="last_name" id="search"  autofocus required placeholder="Contact's Last Name">
	<input type= "submit">
</fieldset>

<h1>Search Results</h1>


<% @contacts.each do |contact| %>
		<p><a href="/contacts/<%= contact.id %>"><%= contact.first_name %> <%= contact.last_name %></a></p>
	<% end %>